# Default values for vegbank-shinyverse.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 3

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: rocker/shiny-verse
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# Set the path for the app
app:
  path: &apppath /vbshiny

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 3838

## This block is for setting up the ingress for more information can be found here:
## https://kubernetes.io/docs/concepts/services-networking/ingress/
## Ingress is a collection of rules that allow inbound connections to reach the endpoints defined
## by a backend. An Ingress can be configured to give services externally-reachable urls, load
## balance traffic, terminate SSL, offer name based virtual hosting etc.
##
ingress:
  ## @param ingress.enabled Enable or disable the ingress
  ##
  enabled: true

  ## @param ingress.className ClassName of the ingress provider in your cluster
  ##  Inspect available classes in your cluster using:    $ kubectl get ingressclasses
  ##
  ## className: "traefik" -- For Rancher Desktop (provided you have traefik enabled:
  ##     'preferences' -> 'kubernetes' -> 'enable traefik')
  ## className: "nginx" -- For production, or to use certificates locally. Also:
  ## - disable traefik ('preferences' -> 'kubernetes' -> uncheck 'enable traefik')
  ## - install nginx:
  ##   $  helm upgrade --install ingress-nginx ingress-nginx  \
  ##        --repo https://kubernetes.github.io/ingress-nginx \
  ##        --namespace ingress-nginx --create-namespace      \
  ##        --set controller.allowSnippetAnnotations=true
  ##
  className: "nginx"

  ## @param ingress.defaultBackend.enabled enable the optional defaultBackend
  ## ingress.defaultBackend (optional) default for any requests not matching pre-defined paths
  ## @param ingress.defaultBackend.enabled enable the optional defaultBackend
  ## If none of the hosts or paths match the HTTP request in the Ingress objects, the traffic is
  ## routed to your default backend. Example:
  ##
  ##   defaultBackend:
  ##     enabled: true
  ##     service:
  ##       name: myrelease-wordpress
  ##       port:
  ##         number: 80
  ##
  defaultBackend:
    enabled: false

  ## @param ingress.annotations Annotations to add to the ingress; e.g. to use cert-manager
  ## to automatically issue TLS certificates for the ingress hosts, you can add the following:
  ##
  ## ingress:
  ##   annotations:
  ##     cert-manager.io/cluster-issuer: "letsencrypt-prod"
  ##
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"

  ## @param ingress.hosts List of hosts to be used for the ingress
  ## Each host must have a path defined, and the pathType must be set to either
  ## 'ImplementationSpecific', 'Exact', or 'Prefix'; e.g:
  ##   hosts:
  ##     - host: &hostname api.test.dataone.org
  ##       paths:
  ##         - path: /
  ##           pathType: Prefix
  hosts:
    - host: &hostname api.test.dataone.org
      paths:
        - path: *apppath
          pathType: Prefix

  ## @param ingress.tls List of TLS configurations for the ingress
  ## Each TLS configuration must have a secretName defined, and the hosts must match the
  ## hosts defined in the ingress.hosts section. For example:
  ##   tls:
  ##     - hosts:
  ##         - *hostname
  ##       secretName: ingress-nginx-tls-cert
  tls:
    - hosts:
      - *hostname
      secretName: ingress-nginx-tls-cert

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
